<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<ul>
    {{$x := .Brand}} {{$y := .Model}} {{$z := .Engine}}
    <li>{{$x}} {{$y}} - {{$z}}</li>
</ul>
</body>
</html>
