<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<p>
    {{index . 2}}
    {{index . 0}}
    {{index . 1}}
</p>

<!--
    All functions in documentation:
    https://golang.org/pkg/text/template/#hdr-Functions
-->

</body>
</html>
