<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{ft .Brand}}</li>
    <li>{{uc .Model}}</li>
    {{end}}
</ul>
</body>
</html>
