<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<p>
    {{.}}
    {{. | double}}
    {{. | double | square}}
    {{. | double | square | sqRoot}}
</p>
</body>
</html>
